body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-position: 100%;
  background-position: 83%;
  background-image: url('https://cdn.dribbble.com/users/1201766/screenshots/3867429/oct-05.png');
}

@media screen and (max-width: 600px) {
  body {
    background-image: url('https://cdn.dribbble.com/users/1201766/screenshots/3867429/oct-05.png');
    background-size: cover;
    background-position: 50%;
}
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
